<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-success" [disabled]="!disableButton" (click)="onStartGame()">Start Game</button>
        <button class="btn btn-danger"  (click)="onEndGame()">Stop Game</button>
        <button class="btn btn-primary" (click)="onClear()">Clear</button>
        
    </div>
    <div class="col-xs-6">

        <button class="btn btn-info" (click)="onSpeedUp()">Speed Up x2</button>
        <button class="btn btn-info" (click)="onSpeedDown()">Speed Down x2</button>
        <button class="btn btn-info" (click)="onSpeedClear()">Back to Normal Speed</button>
    </div>
    
    <div class="col-xs-1" style="border-radius: 5px; border:1px solid rgb(0, 0, 0); background:mistyrose; height:100%; font-size: 14px; color: rgb(0, 0, 0); text-align: center;">
        <label appHighlight>Speed </label>
      
            {{ speedIntreval/1000 }} seconds
            
         
        
    </div>
    <label appHighLightRenderer>Test</label>
    <input type="text" [(ngModel)]="defC">
    
    <input type="text" [(ngModel)]="hC">
    <label *appUnless="chk" appHostbinding  [HLColor]="hC" [defColor]="defC">xxdcdx</label>
    <button class="btn btn-info" (click)="onShow()">Show/Hide</button>
    <div [ngSwitch]="val">
        <p *ngSwitchCase="5">Val is 5</p>
        <p *ngSwitchCase="7">Val is 3</p>
        <p *ngSwitchCase="12">Val is 12</p>
        <p *ngSwitchDefault>Val is Default</p>
    </div>
    
    
</div>