
<div class="container">
  <div class="row">
    <hr>
    <div class="col-xs-7">
     
     <app-game-control (indexNumber)="onIntervalRun($event)" ></app-game-control>
     
    </div>
    <div class="col-xs-1" style="border:1px solid rgb(0, 0, 0); background:mediumslateblue; height:100%; font-size: 18px; color: white; text-align: center;">
      {{ intervalNumber }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-5">
      <app-odd [oddNumber]="x"  *ngFor="let x of oddNumber" ></app-odd>
    </div>
    
    <div class="col-xs-5">
      <app-even [evenNumber]="x"  *ngFor="let x of evenNumber" ></app-even>
    </div>
  </div>
  
  
  

</div>